<div class="container">
	<h1>Contacto</h1>

<div id="texto" #textos>
	<p appResaltado>
		Esta es la pagina de contacto, puedes enviar dudas
	</p>
</div>

	<!-- Tamaño del slider
	<input type="number" [(ngModel)]="withSlider">
	<button (click)="cargarSlider()">Cargar Slider</button>
	<button (click)="resetearSlider()">Resetear Slider</button>

	<div *ngIf="anchuraToSlider">
		<slider [anchura]="anchuraToSlider"
				[etiquetas]="captions"
				(conseguirAutor)="getAutor($event)"
		></slider>
	</div>-->
	<!-- <div class="container" *ngIf="autor">
		<h1>{‌{autor.nombre+ "  " +autor.website}}</h1>
	</div> -->
</div> -->
